/*@media (max-width: 1600px) {
  .product__img {
    width: 60%;
  }
}

@media (max-width: 1150px) {
  .slider__item-images {
    max-width: 400px;
  }
  .slider__item-imgafter {
    width: 80%;
  }
  .slider__item-imgbefore {
    width: 50%;
  }
  .product__img {
    width: 50%;
    left: -10%;
  }
}
@media (max-width: 1100px) {
  .top__img {
    justify-content: flex-end;
    &-main {
      width: calc(360px - 10%);
    }
    &-after {
      width: calc(310px - 10%);
    }
  }
  
  .count {
    margin-top: 50px;
    padding: 80px 0 60px;
    &__img {
      bottom: -110px;
      left: -18%;
      img {
        width: 350px;
      }
    }
  }
  
  .count__list {
    margin-right: 0;
    max-width: 650px;
  }
}

@media (max-width: 1000px) {
  .top__img {
    &-main {
      width: calc(360px - 20%);
    }
    &-after {
      width: calc(310px - 20%);
      margin-left: -30px;
    }
  }
  .top__title-sup {
    font-size: 60px;
    margin-bottom: 0;
  }
  .top__title-sub {
    font-size: 18px;
  }
  .fetures__col.img {
    display: none!important;
  }
  .facts__table {
    max-width: 350px;
  }
}

@media (max-width: 950px) {
  .slider__item-images {
    max-width: 300px;
  }
  .slider__item-imgafter {
    width: 80%;
  }
  .slider__item-imgbefore {
    width: 50%;
  }
}
@media (max-width: 900px) {
  .top {
    margin-top: 170px;
  }
  .top__img {
    max-width: 340px;
    &-after {
      display: none!important;
    }
  }
  .facts__item {
    max-width: 300px;
  }
}

@media (max-width: 850px) {
  .count__img {
    left: -25%;
  }
  .count__list {
    max-width: 580px;
  }
  .count__col-title {
   font-size: 60px;
   padding-left: 20px;
   line-height: 64px;
  }
  .count__col-type {
   margin-bottom: 0;
  }
  .facts__inner {
   display: block;
  }
  .facts__table {
    max-width: 95%;
    margin: 0 auto;
    margin-bottom: 40px;
    &-btn {
      max-width: 310px;
      margin: 30px auto 0;
    }
  }
  .facts__item {
    max-width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .slider__item-images {
    max-width: 200px;
  }
  .product__item {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .top__img .top__img-main {
    width: calc(360px - 40%);
  }
  
  .top__title-sup {
    font-size: 52px;
  }
  .top__title-sub {
    font-size: 16px;
  }
  .top__content {
    max-width: 400px;
  }
  
  .count {
    padding: 50px 0 30px;
    &__list {
      max-width: 400px;
    }
    &__img {
      bottom: -80px;
      left: -25%;
      img {
        width: 250px;
      }
    }
    &__col-title {
      font-size: 34px;
      line-height: 38px;
      padding-left: 15px;
    }
    &__col-type {
      font-size: 16px;
    }
  }
}

@media (max-width: 700px) {
  .top__title {
    margin-bottom: 20px;
  }
  .top__text {
    margin-bottom: 20px;
  }
  
  .top__img .top__img-main {
    width: calc(360px - 60%);
  }
  
  .fetures__col {
    display: block;
  }
  .fetures__inner {
    display: block;
  }
  .fetures {
    padding-bottom: 50px;
  }
  .fetures__col {
    margin-left: 30px;
  }
  .fetures__col-title {
    text-align: left;
    padding-right: 0;
    padding-left: 25px;
    border-left: 4px solid $blue;
    border-right: none;
  }
  .fetures__col-text {
    text-align: left;
  }
  .slider-title {
    font-size: 25px!important;
  }
  .slider__box {
    margin-top: 20px;
  }
  .slider__item {
    padding-left: 10%;
    &-content {
      max-width: 190px;
    }
  }
  .product__item {
    max-width: 300px;
  }
}

@media (max-width: 640px) {
  body {
    font-size: 14px;
  }
  .header__menu {
    font-size: 12px;
    top: 90px;
  }
  
  .header__logo img {
    width: 70%;
  }
  
  .header__btn {
    width: 30px;
    height: 20px;
  }
  
  .header__inner {
    height: 90px;
  }
  
  .header__btn-line {
    height: 3px;
  }
  .header__btn.open {
    .header__btn-line.center {
      opacity: 0;
    }
    
    .header__btn-line.first{
      transform: translateY(8px) rotate(135deg);
      transition: all .3s;
    }
    .header__btn-line.last {
      transform: translateY(-8px) rotate(-135deg);
      transition: all .3s;
    }
  }
  .top__img .top__img-main {
    width: 200px;
  }
  
  .top__title-sup {
    font-size: 32px;
    line-height: 38px;
  }
  .top__title-sub {
    font-size: 14px;
    line-height: 18px;
  }
  .top__content {
    max-width: 300px;
    min-width: 280px;
  }
  .top__btn.icon {
    display: none;
  }
  .top {
    margin-top: 120px;
  }
}

@media (max-width: 600px) {
  .facts__table-per {
    display: none;
  }
  .facts__table-arrow {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../images/icons/angle-down.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    margin-right: 20px;
    transition: all .3s;
    &.open {
      transition: all .3s;
      transform: rotate(180deg);
    }
  }
  .facts__list {
    display: none;
    &-item {
      color: #999;
      font-weight: 700;
      padding: 5px 10px!important;
    }
    &-item.open {
      color: #000;
      padding: 7px 10px!important;
      margin: 0;
    }
  }
  .certification {
    padding: 50px 0 60px;
  }
  
  .certification__item {
    width: 60px;
    height: 60px;
  }
  .product__title {
    font-size: 16px;
  }
  .product__subtitle {
    font-size: 14px;
    margin-top: -15px;
  }
  .product__text {
    font-size: 14px;
    line-height: 18px;
  }
  .product__item {
    max-width: 270px;
  }
  .product__head {
    margin-bottom: 5px;
  }
  .top__btn.active {
    line-height: 18px;
    font-size: 14px;
    padding: 8px 35px;
  }
  .product__text {
    margin-bottom: 15px;
  }
  .product__img {
    top: -80%;
  }
}

@media (max-width: 540px) {
  .count__col {
    //max-width: 100px;
    &-type {
      font-size: 14px;
      line-height: 18px;
    }
    &-info {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 0;
    }
  }
  .count__list {
    max-width: 320px;
  }
  .count__img {
    left: -38%;
  }
  .header__menu-link {
    padding: 8px 0;
    padding-left: 30px;
  }
  .footer {
    font-size: 12px;
    &__social {
      padding: 0;
    }
  }
  .footer__social-item {
    margin-left: 20px;
  }
  .slider__item {
    padding-left: 0;
  }
  .slider__inner {
    padding: 0;
  }
  .client__item-text {
    font-size: 14px;
    line-height: 16px;
  }
  .question__form-box {
    flex-wrap: wrap;
  }
  .question__form-name,
  .question__form-mail {
    width: 100%!important;
    max-width: 100%!important;
  }
}

@media (max-width: 500px) {
  .facts__table-top {
    padding: 0;
  }
  .facts__table-ing {
    font-size: 16px;
    padding: 0;
  }
  .facts__table-arrow {
    width: 16px;
    height: 16px;
    margin-top: 10px;
  }
  .facts__list-item {
    padding: 5px 0;
    &.open {
      padding: 9px 10px;
    }
  }
  .top {
    &__title {
      padding-left: 18px;
    }
  }
  
  .certification__item {
    padding: 0 15px;
    margin: 0 auto;
  }
  .certification__inner {
    flex-wrap: wrap;
  }
}


@media (max-width: 450px) {
  .count__img {
    display: none;
  }
  .count__list {
    margin: 0 auto;
  }
  .slider {
    &__box {
      padding-left: 10px;
    }
    &__item-images {
      margin-right: 10px;
      max-width: 170px;
    }
  }
  .product__item {
    max-width: 180px;
  }
  .sub__btn {
    width: 100px;
    height: 40px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .sub__input {
    height: 40px;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 110px;
  }
  .question__form-btn {
    margin: 0;
  }
}

@media (max-width: 410px) {
  .top__text {
    font-size: 12px;
    line-height: 18px;
  }
  .top__title .top__title-sub {
    font-size: 12px;
  }
  .top__title .top__title-sup {
    font-size: 24px;
  }
  .top__content {
    min-width: 200px;
  }
  .top__btn.active {
    font-size: 12px;
    padding: 7px 40px;
  }
  .footer__social {
    display: none;
  }
  .footer__box {
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .slider__item-content {
    max-width: 140px;
  }
}
@media (max-width: 350px) {
  .count__col {
    max-width: 80px;
    &-title {
      padding-left: 10px;
      font-size: 16px;
      line-height: 18px;
      border-right: 2px;
    }
    &-info {
      font-size: 14px;
    }
  }
  .slider__item-images {
    display: none;
  }
}
*/